$fonts: "Montserrat", sans-serif;
$fontsColor: #914e10;

/* mapa */

$colores: (
"colorFondo": #fffbef,
"colorPrincipal": #f5b989,
"colorSecundario": #8181da,
"colorBorde": #f7b57f,
"colorHover": #723caf,
)