@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Overpass:ital,wght@0,500;1,600&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

@import "./base/variables";
@import "./base/mixins";
@import "generales";
@import "./componentes/header";
@import "./componentes/footer";
@import "./componentes/contenedor";
@import "./componentes/botones";



.titulos {
    font-size: 1.6rem;
    background-color: $colorSecundario;
    color: $colorFondo;
    @include bordeRedoneado;
}

h1,
h2,
h3,
p {
    text-align: center;
    margin: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

.carrusel {
    display: flex;
    flex-direction: column 1fr;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    @include borde;
}

.imagenCarrusel {
    width: 50%;
}

.media2 {
    width: 100%;
    min-width: 250px;
    min-height: 200px;
    max-width: 350px;
    max-height: 300px;
}


form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.formulario {
    background-color: $colorPrincipal;
    @include bordeRedoneado;
    margin: 1rem;
    padding: 0.5rem;
}

.casillaFormulario {
    background-color: $colorSecundario;
    font-family: 'Overpass', sans-serif;
    color: $colorPrincipal;
    text-align: center;
    padding: 1rem;
    @include bordeRedoneado;
    margin-bottom: 1rem;
}

.formularioInput {
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    @include bordeRedoneado;
    width: 90%;
}

.formularioSelect {
    background-color: $colorSecundario;
    padding: 1rem;
    @include borde;
    @include bordeRedoneado;
}

.cajaFormulario {
    height: 4rem;
    margin: 2rem;
    top: 2rem;
}

.icono {
    width: 40px;
    height: 40px;
}

@media (max-width: 720px) {

    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
    }

    .gridContainer {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 480px) {

    .titulos,
    p {
        font-size: 1em;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 1rem;
        text-align: center;
    }

    article div img {
        width: 100%;
        min-width: 100px;
        min-height: 100px;
        max-width: 200px;
        max-height: 200px;
    }

    .media2 {
        width: 100%;
        min-width: 150px;
        min-height: 100px;
        max-width: 250px;
        max-height: 200px;
    }

    .icono {
        width: 25px;
        height: 25px;
    }

    .casillaFormulario {
        padding: 0.5rem;
        @include bordeRedoneado;
        margin-bottom: 1rem;
    }

    .formularioInput {
        padding: 0.5rem;
        margin-top: 1rem;
        @include bordeRedoneado;
        width: 90%;
    }

    .formularioSelect {
        padding: 0.5rem;
        border: 2px solid $colorSecundario;
        @include bordeRedoneado;
    }

    .cajaFormulario {
        height: 2rem;
        margin: 1rem;
        top: 1rem;
    }
}

@media (max-width: 260px) {

    .contenedor,
    .gridContainer {
        margin: 0;
    }
}