.botonLink {
    text-decoration: none;
    background-color: map-get($colores, "colorSecundario");
    font-family: $fonts;
    color: map-get($colores, "colorFondo");
    text-align: center;
    padding: 0.2rem;
    @extend .bordeRedoneado;
    margin: 10px;
    transition: 0.5s;

    & :hover {
        color: map-get($colores, "colorHover");
    }
}