.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem;
    text-align: center;

    article {
        @include articuloFlex;
        box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(194, 110, 37, 0.5764705882);

        div {

            img {
                @include imagenProducto;
                @extend .bordeRedondeado;
                transition: 2.1s;

                & :hover {
                    transform: scale(1.06);
                }

            }
        }
    }
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
    text-align: center;

    article {
        @include articuloFlex;
        box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(194, 110, 37, 0.5764705882);

        div {

            img {
                @include imagenProducto;
                @extend .bordeRedondeado;
                transition: 2.1s;

                & :hover {
                    transform: scale(1.06);
                }
            }
        }
    }
}