footer {
    padding: 0.2rem;
    background-color: map-get($colores, "colorPrincipal");
    box-shadow: inset 0px 0px 4px 0px #c26e2593;
    @include borde;
    margin-top: 2rem;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        li {
            list-style-type: none;
        }
    }
}