header {
    background-color: #f5b989;
    padding: 1rem;
    box-shadow: 4px 4px 4px 4px #c26e2593;
    border: solid 2px #f7b57f;
    position: sticky;
    top: 0px;
    margin-bottom: 2rem;
    z-index: 1;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        li {
            list-style-type: none;
        }
    }
    
}